<!-- <h2>About Component</h2>
<button (click)="get1(data.value)">Function</button><br><br>
<input type="text" #box1 (keyup)="get(box1.value)" placeholder="keyup">
<div>Data from keyup event: {{ dataKeyUp }}</div>

<input type="text" #box (keydown)="get1(box.value)" placeholder="keydown">
<div>Data from keydown event: {{ dataKeyDown }}</div> -->



<!-- <div [ngSwitch]="selected">
    <div *ngSwitchCase="1" class="red">line 1</div>
    <div *ngSwitchCase="2" class="red">line 2</div>
    <div *ngSwitchCase="3" class="red">line 3</div>
    <div *ngSwitchCase="4" class="red">line 4</div>
    <div *ngSwitchCase="5" class="red">line 5</div>
    <div *ngSwitchDefault class="red">Line out</div>
</div>

<p [ngClass]="['green-bold-text']" class="red">This is line where we are using class and ngClasss</p>

<p class="red" *ngFor="let data of [1,2,3,4]; let i = index">Hello {{i}}</p>

<pre>{{pageTitle}}</pre>
<input [(ngModel)]="pageTitle" placeholder="Enter title" />


<button (click)="onClick()">Click here</button>


<h2>Counter</h2>
<input [(ngModel)]="selected" placeholder="Enter number" />&nbsp;
<button (click)="count('add')">Add</button> &nbsp;
<button (click)="count('sub')">Sub</button> -->


<!-- <pre>{{bookTitle}}</pre>
<input type="text" [(ngModel)]="bookTitle" placeholder="Enter Book TItle"> -->

<!-- <pre>{{bookTitle}}</pre>
<input type="text" [value]="bookTitle" placeholder="Enter Book title">




<div [ngSwitch]="cleck">
    <div *ngSwitchCase="1" class="red">line 1</div>
    <div *ngSwitchCase="3" class="red">line 3</div>
    <div *ngSwitchCase="5" class="red">line 5</div>
    <div *ngSwitchCase="7" class="red">line 7</div>
    <div *ngSwitchCase="9" class="red">line 9</div>
    <div *ngSwitchDefault class="red">Line out</div>
</div> -->




<div>
    <!-- <div>
        <label>Name</label>
        <input type="text" #data placeholder="Enter your name" [(ngModel)]="data">
        <label>Last Name</label>
        <input type="text"  #data placeholder="Enter your last name" [(ngModel)]="data">>
        <label>Phone </label>
        <input type="number"  #data placeholder="Enter your Phone no." [(ngModel)]="data">>
        <label>password</label>
        <input type="password"  #data placeholder="Enter your password" [(ngModel)]="data">>
        <button (click)="Submit(data.value)">Submit</button>
    </div> -->
</div>



<p [ngClass]="['green-bold-text']" class="red">This is line where we are using class and ngClasss</p>












