<nav class="navbar">
  <a (click)="home()" routerLink="/">Home</a>
  <a (click)="about()" routerLink="/about">About</a>
  <a (click)="json()" routerLink="/json">Json</a>
  <a (click)="data()" routerLink="/data">Data</a>
  <a (click)="table()" routerLink="/table">Table</a>
  <a (click)="book()" routerLink="/book">Book</a>
  <a (click)="row()" routerLink="/row">Row</a>
  <a (clcik)="parent()" routerLink="/parent">Parent</a>
  <a (click)="child()" routerLink="/child">Child</a>
  <a (click)="cal()" routerLink="/cal">Cal</a>
  <a (click)="login()" routerLink="/login">Login</a>
  <a (click)="register()" routerLink="/register">Register</a>
  <a (click)="star()" routerLink="/star">Star</a>
  <a (click)="forms()" routerLink="/forms">Forms</a>


</nav>