<h1>Calculator coding</h1>
<table class="main">
    <tr>
        <td colspan="4"><input type="number" name="calculator" id="Result" [(ngModel)]="result" disabled></td>
    </tr>
    <tr>
        <td><input type="button" value="AC" (click)="onClick('AC')"></td>
        <td colspan="2"><input type="button" value="Cut" (click)="delete()"></td>
        <!-- <td><input type=" " value="+/-" (click)="onClick('+/-')"></td> -->
        <td><input type="button" value="/" (click)="onClick('/')"></td>
    </tr>
    <tr>
        <td><input type="button" value="7" (click)="onClick('7')"></td>
        <td><input type="button" value="8" (click)="onClick('8')"></td>
        <td><input type="button" value="9" (click)="onClick('9')"></td>
        <td><input type="button" value="*" (click)="onClick('*')"></td>
    </tr>
    <tr>
        <td><input type="button" value="4" (click)="onClick('4')"></td>
        <td><input type="button" value="5" (click)="onClick('5')"></td>
        <td><input type="button" value="6" (click)="onClick('6')"></td>
        <td><input type="button" value="-" (click)="onClick('-')"></td>
    </tr>
    <tr>
        <td><input type="button" value="1" (click)="onClick('1')"></td>
        <td><input type="button" value="2" (click)="onClick('2')"></td>
        <td><input type="button" value="3" (click)="onClick('3')"></td>
        <td><input type="button" value="+" (click)="onClick('+')"></td>
    </tr>
    <tr>
        <td><input type="button" value="%" (click)="onClick('%')"></td>
        <td><input type="button" value="0" (click)="onClick('0')"></td>
        <td><input type="button" value="." (click)="onClick('.')"></td>
        <td><input type="button" value="=" (click)="onClick('=')"></td>
    </tr>

</table>